<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/header.css" />
    <link rel="stylesheet" href="assets/css/footer.css" />
    <link rel="stylesheet" href="assets/css/general.css" />

    <!-- <link rel="stylesheet" href="/pages/homepage/homepage.css"/> -->
    $CSS_PLACEHOLDER$
    <title>$TITLE_PLACEHOLDER$</title>
  </head>
  <body>
    <nav>
      <div id="logo-container">
        <a href="/"><img id="logo" src="/assets/images/logo/logo2.png" alt="logo"/></a>
      </div>
      <ul>
        <li><a href="/firstdayclass">Første Dag</a></li>
        <li><a href="/seconddayclass">Anden Dag</a></li>
        <li><a href="/thirddayclass">Tredje Dag</a></li>
        <li><a href="/fourthdayclass">Fjerde Dag</a></li>
        <li><a href="/fifthdayclass">Femte Dag</a></li>
        <li><a href="/sixthdayclass">sjette Dag</a></li>
      </ul>
    </nav>

    <main><!--  stop adding a main closer --></main>
  </body>
</html>
